@import "base.scss";

.app-home {
    .main-container {
        position: relative;
        height: 95%;
    }

    .header-container {
        min-height: 10%;
        position: absolute;
        width: 100%;
        top: 0;
    }

    .shadow {
        background: $grayTransparent;
        min-height: 50px;
        width: 100%;
        position: absolute;
    }

    img {
        height: 100%;
    }

    .pope-pull {
        position: absolute;
        left: 150px;
        top: 150px;
    }

    .remaining-time {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .content-container {
        max-width: 960px;
        margin: 0 auto;
    }

    .warning-container {
        margin: 24px 0;
    }
}
