@import "base.scss";

.app-menu,
.menu-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $white;

    .menu-items {
        list-style: none;
    }

    .menu-item {
        padding: 0 8px;
    }

    @include mobile-tablet {
        background: $orange;
        flex-flow: column;
        align-items: flex-end;

        h1 {
            margin: 8px 0;
        }
    }
}
