$white: #fff;
$black: #000;
$darkgray: darkgray;
$gray: gray;
$mindGreen: #58bcb5;
$orange: #f5b133;
$grayTransparent: rgba(0, 0, 0, 0.5);
$whiteTransparent: rgba(255, 255, 255, 0.3);
$mindGreenTransparent: rgba(88, 188, 181, 0.7);
$orangeTransparent: rgba(245, 177, 51, 0.7);
$warningBackground: #ebebeb;
$blackTransparent: rgba(0, 0, 0, 0.3);
