$bg-mobile: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$bg-mobile - 1px}) {
        @content;
    }
}

@mixin bg-mobile {
    @media (min-width:#{$bg-mobile}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin font($sizeValue: 12, $lineHeight: 16, $fontWeight: 400) {
    font-size: $sizeValue + px;
    line-height: $lineHeight + px;
    font-weight: $fontWeight;
}

@mixin square($size) {
    width: $size;
    height: $size;
}
