* {
    box-sizing: border-box;

    &:focus {
        outline: none !important;
    }
}

body {
    background-color: $white;
    color: $black;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 100vh;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;

    img {
        width: 100%;
    }

    button {
        padding: 0;
        border: 0;
        margin: 0;
        cursor: pointer;
    }

    a,
    .link {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    .link {
        text-decoration: none;
    }

    .btn-link {
        cursor: pointer;
        background: transparent;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .link-element {
        cursor: pointer;
    }
}
